[Desktop Entry]
Version=1.0
Type=Application
Name=Settings Manager
Comment=Manage the physics settings of accelerator system
Terminal=false
Exec=settings_manager
Icon=phantasy-sm
StartupNotify=false
Keywords=Phantasy;settings;
Categories=Science;Physics;
