include LICENSE
recursive-include phantasy_apps/allison_scanner/config *
recursive-include phantasy_apps/app_launcher/config *
recursive-include phantasy_apps/trajectory_viewer/config *
recursive-include phantasy_apps/wire_scanner/config *
recursive-include phantasy_apps/online_model/config *
recursive-include phantasy_apps/achromat_tuning/config *
recursive-include phantasy_apps/app_launcher/launcher *
recursive-include phantasy_apps/correlation_visualizer/launcher *
recursive-include phantasy_apps/diag_viewer/launcher *
recursive-include phantasy_apps/quad_scan/launcher *
recursive-include phantasy_apps/settings_manager/launcher *
recursive-include phantasy_apps/trajectory_viewer/launcher *
recursive-include phantasy_apps/unicorn/launcher *
recursive-include phantasy_apps/va/launcher *
recursive-include phantasy_apps/wire_scanner/launcher *
recursive-include phantasy_apps/settings_manager/config *
recursive-include phantasy_apps/synoptic_app/config *
