.status-ON, .status-ON > * {
    fill: #00FF00 !important;
}

.status-OFF, .status-OFF > * {
    fill: #FF0000 !important;
}

.select {
    fill-opacity: 0.8 !important;
    fill: #000000 !important;
    /*
    opacity: 1.0 !important;
    stroke-width: 1px !important;
    stroke: #000000 !important;
    filter: drop-shadow(0 0 0.75rem crimson);
    */
}

.hover {
    cursor: pointer;
    fill-opacity: 0.65 !important;
}

.tp-hidden {
    visibility: hidden;
}

.tp-hidden-transition {
    visibility: hidden;
    transition:visibility 500ms;
}